<div class="fixed inset-0 bg-black bg-opacity-10 flex items-center justify-center z-50">
    <div class="bg-[#1E293B] rounded-lg p-6 w-full max-w-2xl max-h-[90vh] overflow-y-auto">
      <div class="flex justify-between items-center mb-6">
        <button (click)="onClose()" class="text-gray-400 hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
  

  
      <div class="mb-6">
        <h3 class="text-xl font-semibold text-white mb-2">Miembros Actuales</h3>
        <div class="bg-[#2D3748] rounded-lg overflow-hidden">
          <table class="w-full text-left">
            <thead>
              <tr class="bg-[#4A5568] text-gray-300">
                <th class="p-3">Nombre</th>
                <th class="p-3">Email</th>
                <th class="p-3">Rol</th>
                @if(user_role != 'User'){
                  <th class="p-3">Acciones</th>
                }
              </tr>
            </thead>
            <tbody>
                @for(member of filteredMembers; track $index){
                    <tr class="border-b border-gray-700">
                      <td class="p-3 text-white">{{member.name}}</td>
                      <td class="p-3 text-white">{{member.email}}</td>
                      <td class="p-3 text-white">{{member.role}}</td>

                      @if(user_role != 'User'){
                        <td class="p-3 text-white">
                        <select id="role"
                        [ngModel]="member.role" 
                        (ngModelChange)="updateMemberRole(member, $event)"
                        class="bg-[#4A5568] text-white rounded px-2 py-1"
                      >
                      <option [value]="" selected>{{member.role}}</option>
                        <option value="admin">Admin</option>
                        <option value="member">Miembro</option>
                      </select>
                      </td>
                        <td class="p-3">
                            <button 
                              (click)="removeMember(member.user_id)" 
                              class="text-red-500 hover:text-red-600"
                            >
                              Eliminar
                            </button>
                          </td>
                        }
                    </tr>
                }
            </tbody>
          </table>
        </div>
      </div>
  
      @if(user_role != 'User'){
      <div>
            <h3 class="text-xl font-semibold text-white mb-2">Agregar Nuevo Miembro</h3>
            <div class="bg-[#2D3748] rounded-lg overflow-hidden">
                <table class="w-full text-left">
                  <thead>
                    <tr class="bg-[#4A5568] text-gray-300">
                      <th class="p-3">Nombre</th>
                      <th class="p-3">Email</th>
                      <th class="p-3">Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                  @for(potentialMember of filteredPotentialMembers; track $index){
                      <tr  class="border-b border-gray-700">
                        <td class="p-3 text-white">{{potentialMember.name}}</td>
                        <td class="p-3 text-white">{{potentialMember.email}}</td>
                        <td class="p-3">
                          <button 
                            (click)="addMember(potentialMember.user_id)" 
                            class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded"
                          >
                            Agregar
                          </button>
                        </td>
                      </tr>
                  }
                  </tbody>
                </table>
              </div>
        
      </div>
    }
    </div>

  </div>