<header class="bg-white shadow-sm border-b border-gray-200">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <h1 class="text-xl font-bold text-blue-600">FinanceApp</h1>
            </div>
          </div>



          <div class="flex items-center space-x-4">
            <div class="relative">
              <button class="p-2 text-gray-400 hover:text-gray-500 relative">
                    <i class="pi pi-bell w-5 h-5 text-30"></i>
                <span class="absolute -top-1 -right-1 bg-red-500 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center">
                  3
                </span>
              </button>
            </div>

            <div class="relative">
              <button class="flex items-center space-x-2 text-gray-700 hover:text-gray-900">
                <div class="w-8 h-8 bg-gray-300 rounded-full flex items-center justify-center">
                  <i class="pi pi-user w-4 h-4"></i>
                </div>
                <span class="hidden md:block">Juan Pérez</span>
                <i class="w-4 h-4 pi pi-chevron-down" > </i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>