<header class='flex shadow-md py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] tracking-wide relative z-50'>
  <div class='flex flex-wrap items-center justify-between gap-5 w-full'>
    <a href="javascript:void(0)"><img src="https://pnganime.com/web/images/d/dfa9sy5-205439f7-70eb-473e-9242-692492b5baff.png" alt="logo" class='w-10' />
    </a>

   
      <div class='flex max-lg:ml-auto space-x-3'>
      @if(isLogedIn()){
        <button
        class='px-4 py-2 text-sm rounded-full font-bold text-white border-2 bg-[#162967] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#000000]'> LogOut
      </button>
      }@else {
        <button
        class='px-4 py-2 text-sm rounded-full font-bold text-white border-2 bg-[#162967] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#000000]'>Iniciar Sesión</button>
      <button
        class='px-4 py-2 text-sm rounded-full font-bold text-white border-2 bg-[#162967] transition-all ease-in-out duration-300 hover:bg-transparent hover:text-[#000000]'>Registrarse
      </button>
      }
    </div>
  </div>
</header>