
<h2 class="text-gray-500 text-lg font-semibold pb-4">Autorizaciones Pendientes</h2>
    <!-- Línea divisoria  -->
<div class="my-1"></div>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-900 uppercase dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  ID
              </th>
              <th scope="col" class="px-6 py-3">
                  Usuario
              </th>
              <th scope="col" class="px-6 py-3">
                  Correo
              </th>

          </tr>
      </thead>
      <tbody>
          @for(user of users; track $index){
              <tr class="bg-white dark:bg-gray-800">
                  <td class="px-6 py-4">
                      {{ user.user_id }}
                  </td>
                  <td class="px-6 py-4">
                      {{ user.user }}
                  </td>
                  <td class="px-6 py-4">
                      {{ user.email }}
                  </td>
              </tr>
          }
        
      </tbody>
  </table>
</div>
