<div class="container mx-auto p-4">
    <!-- Filtros de Usuarios 
    <div class="flex mb-6 space-x-4">
      <button class="modify" (click)="filterUsers('all')">Mostrar Todos</button>
      <button class="unassigned" (click)="filterUsers('unassigned')" >Usuarios sin Asignar</button>
      <button class="inactive" (click)="filterUsers('inactive')">Usuarios Inactivos</button>
      <button class="active" (click)="filterUsers('active')">Usuarios Activos</button>
    </div>
    
    <div >
      @if(spinner.loading$ | async){
        <app-spinner/>
      }
      <app-user-detail-table [users]="users" [headers]="headers" (delete)="deleteUser($event)" (edit)="modifyUser($event)"></app-user-detail-table>
    </div>
  </div>
-->
</div>