<div class="container mx-auto px-4 py-8 min-h-screen">
  <h1 class="text-3xl font-bold mb-6">Gestión de Usuarios</h1>

  <!-- Search and Add User -->
  <div
    class="flex flex-col sm:flex-row justify-between items-center mb-6 space-y-4 sm:space-y-0"
  >
    <div class="relative w-full sm:w-64">
      <input
        type="text"
        [(ngModel)]="search"
        (ngModelChange)="searchUser()"
        placeholder="Buscar usuarios..."
        class="w-full pl-10 pr-4 py-2 border border-gray-600 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 "
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-gray-400 absolute left-3 top-3"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
      </svg>
    </div>

  </div>

  <!-- User Table -->
  <div class="overflow-x-auto bg-gray-500 shadow-md rounded-lg">
    <table class="min-w-full table-auto">
      <thead class="bg-[#2D3748]">
        <tr>
          @for(header of headers; track $index){
          <th
            class="px-6 py-3 text-left text-sm font-medium text-gray-300 uppercase tracking-wider"
          >
            {{header}}
          </th>
        }
         
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-700">
        @for(user of filteredUsers; track $index){
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">{{user.user_id}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{user.user_name}}</td>
            <td class="px-6 py-4 whitespace-nowrap">{{user.email}}</td>
            @if(!user.role){
              <td class="px-6 py-4 whitespace-nowrap uppercase">
                <select 
                [(ngModel)]="user.role"
                (ngModelChange)="changeUserRole(user.user_id, user.role)"
                class=" border border-gray-600   rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                >
                <option value="User" [selected]="user.role === 'User'">Usuario</option>
                <option value="Client" [selected]="user.role === 'Client'">Cliente</option>
              </select>
              </td>
            }@else {
              <td class="px-6 py-4 whitespace-nowrap">{{user.role}}</td> 
            }
            @if(user.status === 'active'){
              <td class="px-6 py-4 whitespace-nowrap uppercase">
                <span
                  class="bg-green-100 text-green-800 px-2 inline-flex text-sm leading-5 font-semibold rounded-full"
                >
                {{user.status}}
                </span>
              </td>
            }@else {
              <td class="px-6 py-4 whitespace-nowrap uppercase">
                <span
                  class="bg-red-100 text-red-800 px-2 inline-flex text-sm leading-5 font-semibold rounded-full "
                >
                {{user.status}}
                </span>
              </td>
            }
            <td class="px-6 py-4 whitespace-nowrap">{{user.created_at}}</td>

            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <button
                class="pi pi-eye text-xl text-blue-400 hover:text-blue-300 mr-4 transition duration-150 ease-in-out"
                (click)="openEditUserModal(user)"
              ></button>
              <button
                class="pi pi-trash text-xl text-red-400 hover:text-red-300 transition duration-150 ease-in-out"
                (click)="deleteUser(user.user_id)"
              ></button>
              @if(editUserModalIsOpen){
                <app-user-details-modal [user]="this.selected_User" (closeModal)="closeEditUserModal()"></app-user-details-modal>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
